# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
myenv/
venv/
ENV/
.env
*.env

# Logs and databases
*.log
*.sqlite3
*.sqlite
db/

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/

# databases
*.db